.covid-card {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    overflow: hidden;
}

.title {
    background-color: #0050b3;
    color: #e6f7ff;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100%;
}

.value {
    background-color: #e6f7ff;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100%;
}